#exclude everything except directory/file .gitignore, srcs, and project file .xpr
/*
!.gitignore
!/i2s_sinussignal_1.srcs/
!/i2s_sinussignal_1.srcs/sim_1/new
!/!i2s_sinussignal_1.sim/sim_1/behav/xsim/
/i2s_sinussignal_1.sim/sim_1/behav/xsim/*
!/i2s_sinussignal_1.sim/sim_1/behav/xsim/sin1kHz1ms.hex
!i2s_sinussignal_1.xpr
!README.md
